

<p>Hola</p>

<!--<header class="headerBanchile">
<div class="headerBanchile--menuSitios">
      <div class="menuSitios--opciones">
          <ul>
            <li><a href="#">PERSONAS</a></li>
            <li class="opciones--activo"><a class="opciones--activo__color" href="#" >EMPRESAS</a></li>
          </ul>
      </div>
  </div>
<div class="headerBanchile--menuGeneral" sticky>
  <div class="ban-container-fluid">
    <div class="ban-row">
      <div class="ban-col-xs-5 ban-col-sm-3 ban-col-md-3">
        <div class="menuGeneral--logo">
          <h1 id="logo--banchile">
            <a href=""><img alt="banchile" src="assets/images/logo--Banchile_E.png" class="ban-img-responsive"/></a>
          </h1>
        </div>
      </div>
    <div class="ban-col-xs-7 ban-col-sm-9 ban-col-md-9">
      <div class="ban-row">
        <div class="ban-col-xs-8 ban-col-sm-7 ban-col-md-9 ban-alingRight ban-widhtLeft"></div>
          <div class="ban-col-xs-4 ban-col-sm-5 ban-col-md-3 ban-widhtRight">
            <div class="menuGeneral--ingresoUsuario">
              <div ng-controller="expandCollapseCtrl" class="ingresoUsuario--cuenta" >
                  <md-button ng-class="{'header--cerrado': active6, 'header--expandido': !active6}" class="colapsable--lateral-3" >
                  <md-icon class="persona-user"><i class="material-icons">account_circle</i></md-icon>
                  <p class="cuenta--ingresar">Ingresa a tu cuenta</p>
                  </md-button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</header>--!>
