<header>
<div class="headerSegmento">
  <ul class="headerSegmento--contenedor">
    <li class="headerSegmento--lista"><a href="#">personas</a></li>
    <li class="headerSegmento--lista"><a href="#">empresas</a></li>
  </ul>
</div>
<div class="headerMenu">
  <div class="logo"><a href=""><img src="app/assets/images/banchile-logo.png" alt="banchile"/></a></div>
    <ul class=menuGeneral--contenidoPublico>
      <li>Asesoria personalizada</li>
      <li>Productos y Servicios</li>
      <li>Reputación y respaldo</li>
    </ul>
    <div class="indicadores">
    </div>
    <div class="notificaciones">
    </div>
    <div class="usuarioLogin">
    </div>
</div>
</header>


<div class="backgroundConteiner">
<img src="app/assets/images/bg-empresas.png" alt="">
</div>

<div ui-view="mainView"></div>
<footer>
<div class="footer">
  <div class="footer--logo">
    <a href=""><img src="app/assets/images/banchile-logo-footer.png" alt="banchile"/> ©2016 Banchile Inversiones.</a></div>
  </div>
</footer>
