<header>
<div class="headerDos">
  <div class="headerDos--logo"><a href=""><img src="app/assets/images/banchile-logo.png" alt="banchile"/></a></div>
</div>
</header>
<div class="backgroundConteiner">
<img src="app/assets/images/bg-empresas.png" alt="">
</div>

<!--ESTO DEBERIA IR EN VISTA ACTUALIZACION-->
<div class="menuBar">Actualizacion de Datos</div>
<div class="actualizacionConteiner">
  <div class="actualizacionInfo">
    <p class="userName">Gonzalo Ahumana</p>
    <p class="tituloUno">Necesitamos tu informacion</p>
    <p class="textoUno">La Superintendencia de Valores y Seguros (SVS) nos exige mantener tus datos actualizados de acuerdo a la normativa NCG380. Necesitamos que actualices tu información y firmes algunos contratos para que puedas seguir invirtiendo con nosotros</p>
</div>
<div class="infoContenedor">
  <div class=" infoa">
    <img src="app/assets/images/infoa.png" alt="">
    <p class="info--title">Utiliza información real</p>
    <p class="info--texto">Es muy importante para nosotros tener toda tu información para entregarte una mejor atención y asesoría.</p>
    <p class="info--textodos">No contar con esa información dificulta que podamos conocerte más.</p>

  </div>
  <div class=" infob">
    <img src="app/assets/images/infob.png" alt="">
    <p class="info--title">Completa todos los campos </p>
    <p class="info--texto">Existen datos que son obligatorios y otros opcionales, te vamos a ayudar a identificar estos campos con colores.</p>
    <p class="info--textodos">Los datos obligatorios se marcarán en rojo y los opcionales en naranjo </p>

  </div>
  <div class="infoc">
    <img src="app/assets/images/infoc.png" alt="">
    <p class="info--title">Firmar contratos</p>
    <p class="info--texto">Para finalizar este proceso debes firmar  tus contratos con la nueva información para poder invertir con nosotros.</p>
    <p class="info--textodos">Tus contratos serán enviados a tu correo electrónico actualizado.</p>

  </div>
</div>



<div class="card card-outline-primary mb-3 text-center">
<div class="card-block">
<blockquote class="card-blockquote">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
</div>
</div>
<div class="card card-outline-secondary mb-3 text-center">
<div class="card-block">
<blockquote class="card-blockquote">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
</div>
</div>
<div class="card card-outline-success mb-3 text-center">
<div class="card-block">
<blockquote class="card-blockquote">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
</div>
</div>
<div class="card card-outline-info mb-3 text-center">
<div class="card-block">
<blockquote class="card-blockquote">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
</div>
</div>
<div class="card card-outline-warning mb-3 text-center">
<div class="card-block">
<blockquote class="card-blockquote">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
</div>
</div>
<div class="card card-outline-danger text-center">
<div class="card-block">
<blockquote class="card-blockquote">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
</div>
</div>





</div>









<div ui-view="actualizacion"></div>
