@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
       url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
       url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  background-color: lightgrey;
  height: 100%;
  padding: 0px;
}
header {
 display: flex;
 flex-flow: row wrap;
 flex: 1 100%;
 display: -webkit-box;
 display: -moz-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 -webkit-flex-flow: row wrap;
}
.headerSegmento {
  height: 40px;
  background-color: #333333;
  display: flex;
  flex: 1 100%;
  justify-content: flex-end;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.headerMenu {
  height: 100px;
  color: #fff;
  background-color: #535557;
  -webkit-box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.22);
  -moz-box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.22);
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.22);
  -webkit-animation: fadeIn 1s;
  display: flex;
  flex: 1 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
ul.headerSegmento--contenedor {
  display: flex;
  justify-content: flex-end;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
li.headerSegmento--lista {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.headerSegmento--lista > a {
  color: #486C7C;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}
a {
color: #fff;
}
.headerSegmento--lista > a:hover {
  opacity: 0.5;
}
.logo a img {
  display: flex;
  /*flex-direction: column;
  justify-content: space-around;*/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  max-width: 240px;
}
.backgroundConteiner img {
  background-size: cover;
  width: 100%;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
/* Header menu */
.headerDos {
  height: 135px;
  color: #fff;
  background-color: #535557;
  -webkit-box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.22);
  -moz-box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.22)    ;
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.22);
  -webkit-animation: fadeIn 1s;
  display: flex;
  flex: 1 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.headerDos--logo  {
  display: flex;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.headerDos--logo a img {
  display: flex;
  /*flex-direction: column;
  align-items: center;*/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.menuBar {
 background: #535557;
 color: #fff;
 font-size: 24px;
 font-weight: 400;
 height: 110px;
 width: 100%;
 display: flex;
 flex: 1 100%;
 flex-direction: row;
 align-items: center;
 transform: translateY(-100%);
 display: -webkit-box;
 display: -moz-box;
 display: -ms-flexbox;
 display: -webkit-flex;
}
.actualizacionConteiner {
  background: #ffffff;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.actualizacionInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-50%);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
p .userName
.tituloUno
.textoUno {
color: #536374;
}
.userName {
  font-size: 24px;
}
.tituloUno {
  font-size: 48px;
  font-weight: 300;
}
.textoUno {
  font-size: 14px;
  text-align: center;
}
.actualizacionOpcion--conteiner {
  display: flex;
  transform: translateY(-10%);
}
.infoContenedor {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.infoa
.infob
.infoc img {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.info--title {
  font-size: 15px;
  text-align: center;
}
.info--texto {
  font-size: 12px;
  text-align: center;
}
.info--textodos {
  font-size: 10px;
  color: #9B9B9B;
  text-align: center;
}

footer {
  background: #E2E5EA;
  color: #536374;
  width: 100%;
  height: 53px;
}
.menubarUno {
 background: #535557;
 color: #fff;
 font-size: 24px;
 font-weight: 400;
 height: 110px;
 width: 100%;
 display: flex;
 flex: 1 100%;
 flex-direction: row;
 align-items: center;
 transform: translateY(-100%);
 display: -webkit-box;
 display: -moz-box;
 display: -ms-flexbox;
 display: -webkit-flex;
}

.menubarDos {
 background:#fff;
 display: flex;
 flex: 1 100%;

 display: -webkit-box;
 display: -moz-box;
 display: -ms-flexbox;
 display: -webkit-flex;
}

.md-button.md-default-theme.md-accent, .md-button.md-accent {
  color: #535557;
}

md-nav-bar.md-default-theme md-nav-ink-bar, md-nav-bar md-nav-ink-bar {
  color: #fff;
}
md-nav-ink-bar {
  background: #336A9B;
}
.md-button {
  text-transform: none;
}
.lista {
  display: flex;
  flex-direction: row;
}

.datosPersonales {
  background: #F0F2F5;
  width: 100%;
  height: 300px;
  display: flex;
}

md-icon.md-datepicker-calendar-icon {
  display: none;
}

.md-button.md-icon-button md-icon, button.md-button.md-fab md-icon {
  display: none;
}
.md-datepicker-button:before {
  display: none;
}
md-icon.md-datepicker-calendar-icon:hover {
  display: none;
}

.card--seleccion-cuenta {
  background-color: white;
  border-radius: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1.5em 1.5em 0 1.5em;
  width: 99.5%;
  -webkit-box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.14);
}


.datosPersonales_preguntas {

  display: flex;
  align-items: baseline;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.preguntaUno {
  font-size: 18px;
  color: #536374;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.preguntaDos {
  font-size: 14px;
  color: #536374;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.preguntaUno_info {
  font-size: 12px;
  color: #9B9B9B;
  padding-left: 2%;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.preguntaUno--seleccion {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

}
.datosPasos {
  padding-top: 1%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  transform: translateY(-230%);
}

.datosPasos--uno {
  padding-top: 1%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  transform: translateY(-230%);
}

.datosIniciales img {
  display: flex;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

}

.numero {
  border-radius: 50%;
  background: #336A9B;
  font-size: 20px;
  color: #fff;
  line-height: 27px;
  text-align: center;
  width: 30px;
  height: 30px;

}

.datosIniciales {
  display: flex;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

}

.datosPersonales--icono {
  color: #7EB645;
}

.datosIniciales--title {
  font-size: 18px;
  color: #4A4A4A;
  padding-left: 3%;
}

.infoUser {
  display: flex;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.infoUser--nombre {
  font-size: 18px;
  color:#4A4A4A;
  padding-left: 2%;
}
